# Dependencies
node_modules/

# Production build output
dist/

# Local environment files
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE files
.vscode/
.idea/
.DS_Store

# Miscellaneous
*.log
*.swp
*.swo
*.bak
*.tmp
